<% @users.each do |user| %>
  <div class='main-container'>
    <div class='user-container'>
      <img src= <%= user.photo %>, class= 'user-image' />
    </div>
    <h2 class='users-info'>
      <%= link_to user.name, user_path(user), id: "user-link-#{user.id}" %>
    </h2>
    <p class='post-num'>Number of posts: <%= user.posts_counter %></p>
  </div>

<% end %>

<%# <%= render partial: 'shared/logout' %>
<div class="sign_out">
<% if signed_in? %>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<%else %>
  <%= link_to "sign in", new_user_session_path %>
<%end %>
</div>
